h1 {
	text-align: center;
}
ul {
	width: 500px;
	margin: auto;
}
.li_movie {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}
span {
	font-size: 20px;
}

.rating:hover {
	color: #FFA500;
}

div.rating:hover > span:hover ~ span {
	color: black;
}

div.rating > span:hover {
	cursor: pointer;
}

.new_movie {
	text-align: center;
}

input, button {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	outline: none;
}
input {
	width: 300px;
}
.toggle {
	color: #FFA500;
}

.mark {
	color: #FFA500;
}